<div class="user-info weui-panel weui-panel_access">
  <div class="weui-panel__bd">
    <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
      <div class="weui-media-box__hd">
        <img class="avatar weui-media-box__thumb" src="/assets/images/avatar.jpg" alt="">
      </div>
      <div class="weui-media-box__bd">
        <h4 class="weui-media-box__title">杨洋</h4>
        <p class="weui-media-box__desc">23岁 · 174CM · 75KG</p>
        <p class="weui-media-box__desc"><span class="ui-label label-default">C1驾照</span><span class="ui-label label-default">5年军龄</span></p>
      </div>
      <div class="weui-media-box__ft">上次更新：3天前</div>
    </a>
  </div>
  <div class="weui-panel__ft">
    <div class="statistics weui-flex">
      <div class="weui-flex__item">
        <em>3</em>
        <span>已沟通</span>
      </div>
      <div class="weui-flex__item">
        <em>3</em>
        <span>已面试</span>
      </div>
      <div class="weui-flex__item">
        <em>3</em>
        <span>已投递</span>
      </div>
      <div class="weui-flex__item">
        <em>3</em>
        <span>感兴趣</span>
      </div>
    </div>
  </div>
</div>

<div class="menu">
  <div class="weui-cells">

    <a routerLink="/resume/edit" class="weui-cell weui-cell_access">
      <div class="weui-cell__hd"><img src="/assets/images/icons/menu/check.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
      <div class="weui-cell__bd">
        <p>查看简历</p>
      </div>
      <div class="weui-cell__ft" style="font-size: 0">
        <span style="vertical-align:middle; font-size: 0.13rem">未创建</span>
        <span class="weui-badge weui-badge_dot" style="margin-left: 0.05rem;margin-right: 0.05rem;"></span>
      </div>
    </a>
    <a class="weui-cell weui-cell_access" href="javascript:;">
      <div class="weui-cell__hd"><img src="/assets/images/icons/menu/like.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
      <div class="weui-cell__bd">
        <p>求职意向</p>
      </div>
      <div class="weui-cell__ft">在职-考虑机会</div>
    </a>
    <a class="weui-cell weui-cell_access" href="javascript:;">
      <div class="weui-cell__hd"><img src="/assets/images/icons/menu/feedback.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
      <div class="weui-cell__bd">
        <p>帮助反馈</p>
      </div>
      <div class="weui-cell__ft">说明文字</div>
    </a>
    <a class="weui-cell weui-cell_access" href="javascript:;">
      <div class="weui-cell__hd"><img src="/assets/images/icons/menu/setting.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
      <div class="weui-cell__bd">
        <p>设置</p>
      </div>
      <div class="weui-cell__ft">说明文字</div>
    </a>
  </div>
</div>
