.post-form {
  margin-bottom: 0.5rem;
}
.weui-cells {
  font-size: 0.13rem;
  color: #666;
}

app-overlay {
  .skills-content {
    padding: 0.1rem 0.15rem 0.3rem;
    .skills {
      margin: 0 -0.075rem;
    }
    .skill-box {
      margin: 0.075rem;
      padding: 0.09rem 0;
      font-size: 0.12rem;
      border-radius: 0.15rem;
      background: #F5F5F5;
      line-height: 1;
      text-align: center;
      box-sizing: border-box;
      &.curr {
        background: #CC3629;
        color: #fff;
      }
      &.more {
        border: 0.01rem solid #4CA6FF;
        color: #4CA6FF;
        padding: 0.08rem 0;
      }
    }
  }

  .weui-grid {
    width: 25%;
  }
}
