.company {
  font-size: 0.12rem;
  margin: 0.05rem 0 0.1rem;
}
.tags {
  font-size: 0.12rem;
  color: #999;
  margin-top: 0.05rem;
  i {
    font-size: 0.12rem;
  }
}
.label-container {
  font-size: 0;
  .ui-label {
    margin: 0 0.1rem 0.05rem 0;
    background: #f5f5f5;
    color: #999;
    font-size: 0.12rem;
    line-height: 1;
    padding: 0.05rem 0.1rem;
    border-radius: 0.04rem;
    &:after {
      display: none;
    }
  }
}
