<div class="content-scrollable">
  <div class="profile">
    <div class="weui-cells__title">基本资料</div>
    <div class="weui-cells weui-cells_form">
      <a (click)="showOverlay('username')" class="weui-cell weui-cell_access" [ngClass]="{'weui-cell_warn':profileForm.get('username').invalid && isSubmit}">
        <div class="weui-cell__bd">
          <p>姓名</p>
        </div>
        <div class="weui-cell__ft">{{profileForm.get('username').value ? profileForm.get('username').value : '请输入您的姓名'}}</div>
      </a>
      <div class="weui-cell" [ngClass]="{'weui-cell_warn':profileForm.get('sex').invalid && isSubmit}">
        <div class="weui-cell__bd">
          <p>性别</p>
        </div>
        <div class="weui-cell__ft" style="font-size: 0">
          <label (click)="setSex(1);" [ngClass]="{'checked':profileForm.get('sex').value === 1}">
            <span>男</span>
            <i class="weui-icon-checked"></i>
          </label>
          <label (click)="setSex(2);" [ngClass]="{'checked':profileForm.get('sex').value === 2}">
            <span>女</span>
            <i class="weui-icon-checked"></i>
          </label>
        </div>
      </div>
      <a (click)="showDate('date-ym','birthday')" class="weui-cell weui-cell_access" [ngClass]="{'weui-cell_warn':profileForm.get('birthday').invalid && isSubmit}">
        <div class="weui-cell__bd">
          <p>出生年月</p>
        </div>
        <div class="weui-cell__ft">{{profileForm.get('birthday').value ? profileForm.get('birthday').value : '未选择'}}
        </div>
      </a>
      <a (click)="showData('weight')" class="weui-cell weui-cell_access" [ngClass]="{'weui-cell_warn':profileForm.get('weight').invalid && isSubmit}">
        <div class="weui-cell__bd">
          <p>体重</p>
        </div>
        <div class="weui-cell__ft">{{profileForm.get('weight').value ? profileForm.get('weight').value + 'KG' :
          '未填写'}}
        </div>
      </a>
      <a (click)="showData('height')" class="weui-cell weui-cell_access" [ngClass]="{'weui-cell_warn':profileForm.get('height').invalid && isSubmit}">
        <div class="weui-cell__bd">
          <p>身高</p>
        </div>
        <div class="weui-cell__ft">{{profileForm.get('height').value ? profileForm.get('height').value + 'CM' :
          '未填写'}}
        </div>
      </a>
    </div>

    <div class="weui-cells__title">服役信息</div>
    <div class="weui-cells weui-cells_form">
      <a (click)="showDate('date-ym','enlistmenttime')" class="weui-cell weui-cell_access" [ngClass]="{'weui-cell_warn':profileForm.get('enlistmenttime').invalid && isSubmit}">
        <div class="weui-cell__bd">
          <p>入伍时间</p>
        </div>
        <div class="weui-cell__ft">{{profileForm.get('enlistmenttime').value ? profileForm.get('enlistmenttime').value :
          '未填写'}}
        </div>
      </a>
      <a (click)="showDate('date-ym','retirementtime')" class="weui-cell weui-cell_access" [ngClass]="{'weui-cell_warn':profileForm.get('retirementtime').invalid && isSubmit}">
        <div class="weui-cell__bd">
          <p>退伍时间</p>
        </div>
        <div class="weui-cell__ft">{{profileForm.get('retirementtime').value ? profileForm.get('retirementtime').value :
          '未填写'}}</div>
      </a>
      <a (click)="showServices()" class="weui-cell weui-cell_access" [ngClass]="{'weui-cell_warn':profileForm.get('services').invalid && isSubmit}">
        <div class="weui-cell__bd">
          <p>兵种</p>
        </div>
        <div class="weui-cell__ft">
          {{profileForm.get('services').value ? profileForm.get('armytype').value + profileForm.get('services').value : '请选择兵种'}}
        </div>
      </a>
      <a (click)="showData('reward')" class="weui-cell weui-cell_access" [ngClass]="{'weui-cell_warn':profileForm.get('reward').invalid && isSubmit}">
        <div class="weui-cell__bd">
          <p>立功受奖</p>
        </div>
        <div class="weui-cell__ft">{{profileForm.get('reward').value ? profileForm.get('reward').value :
          '未填写'}}</div>
      </a>
    </div>

    <div class="weui-cells__title">驾驶技能</div>
    <div class="weui-cells weui-cells_form">
      <a (click)="showData('drivinglicence')" class="weui-cell weui-cell_access" [ngClass]="{'weui-cell_warn':profileForm.get('drivinglicence').invalid && isSubmit}">
        <div class="weui-cell__bd">
          <p>驾照类型</p>
        </div>
        <div class="weui-cell__ft">
          {{profileForm.get('drivinglicence').value || '请选择驾照类型'}}
        </div>
      </a>
      <a (click)="showData('driversage')" class="weui-cell weui-cell_access" [ngClass]="{'weui-cell_warn':profileForm.get('driversage').invalid && isSubmit}">
        <div class="weui-cell__bd">
          <p>驾龄</p>
        </div>
        <div class="weui-cell__ft">{{profileForm.get('driversage').value || profileForm.get('driversage').value === 0 ? profileForm.get('driversage').value + '年' : '请输入您的驾龄'}}</div>
      </a>
      <a (click)="showData('drivingmileage')" class="weui-cell weui-cell_access" [ngClass]="{'weui-cell_warn':profileForm.get('drivingmileage').invalid && isSubmit}">
        <div class="weui-cell__bd">
          <p>驾驶里程</p>
        </div>
        <div class="weui-cell__ft">
          {{profileForm.get('drivingmileage').value || profileForm.get('drivingmileage').value === 0 ? '约' + profileForm.get('drivingmileage').value + '公里' : '请选择驾驶里程'}}
        </div>
      </a>
    </div>
  </div>
</div>

<div class="btns-group">
  <a (click)="onSubmit()" class="btn-twitter">下一步</a>
</div>

<app-overlay>
  <div [formGroup]="profileForm" class="weui-cells weui-cells_form">
    <div *ngIf="formControl === 'username'" class="weui-cell"
         [ngClass]="{'weui-cell_warn':profileForm.get('username').invalid}">
      <div class="weui-cell__hd"><label class="weui-label">姓名</label></div>
      <div class="weui-cell__bd">
        <input class="weui-input" formControlName="username" placeholder="请输入您的姓名">
      </div>
      <div class="weui-cell__ft">
        <i class="weui-icon-warn"></i>
      </div>
    </div>
  </div>


  <div class="weui-cells">
    <a (click)="overlaySubmit()" class="weui-cell">
      <div class="weui-cell__bd" style="text-align: center">确定</div>
    </a>
  </div>
</app-overlay>
