.weui-tabbar {
  z-index: 1001;
  position: fixed;
}
.weui-tabbar__item {
  padding: 0.08rem 0 0.03rem;
  .weui-tabbar__icon {
    width: 0.21rem;
    height: 0.21rem;
    i {
      font-size: 0.21rem;
    }
  }
  &.weui-bar__item_on {
    .weui-tabbar__icon {
      &>i {
        color: #C6302B;
      }
    }
    .weui-tabbar__label {
      color: #C6302B;
    }
  }
}
