.weui-media-box__hd {
  width: 0.4rem;
  height: 0.4rem;
  img {
    border: 1px solid #f7f7f7;
  }
}

.weui-media-box__title {
  .attr {
    font-size: 0.12rem;
    color: #999;
    i {
      font-size: 0.12rem;
    }
  }
}
