<div *ngIf="prod" class="content-scrollable">
  <div class="content-inner">
    <div class="prod-imgs">
      <swiper *ngIf="prod.imgList.length > 0" [config]="config" (indexChange)="onIndexChange($event)" fxFlex="auto">
          <span class="item-box swiper-slide" *ngFor="let item of prod.imgList; let i = index">
            <img src="{{item}}">
          </span>
      </swiper>
      <span class="pages">{{mainIndex}}/{{prod.imgList.length}}</span>
    </div>
    <div class="weui-panel">
      <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_text">
          <h4 class="weui-media-box__title">{{prod.productName}}</h4>
          <p class="weui-media-box__desc">{{prod.shoppingGuide}}</p>
          <ul class="weui-media-box__info">
            <li class="price weui-media-box__info__meta"><sub>￥</sub><em>{{prod.salesPrice}}</em><sub>.00</sub></li>
            <li class="weui-media-box__info__meta">
              <del>￥{{prod.originalPrice}}.00</del>
            </li>
            <li class="weui-media-box__info__meta weui-media-box__info__meta_extra"><span
              class="label">阿玛尼制造商直供</span><span class="label">生产周期7天</span></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="weui-cells">
      <a (click)="showOverlay()" class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__bd">
          <p>已选择：<span style="margin-right: 0.1rem" *ngFor="let attr of attrs">{{attr.name}} {{attr.selected.value}}</span><span>数量x{{itemForm.totalQuantity}}</span></p>
        </div>
        <div class="weui-cell__ft"></div>
      </a>
    </div>

    <div class="product-cells weui-cells">
      <a [userTrack]="'showTips'" (click)="showTips()" class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__hd">服务：</div>
        <div class="weui-cell__bd">
          <p><span><i>･</i>7天无忧退换货</span><span><i>･</i>48小时快速退款</span><span><i>･</i>全国货到付款包邮</span><span><i>･</i>翼分期优选商品</span></p>
        </div>
        <div class="weui-cell__ft"></div>
      </a>
    </div>

    <div class="detail weui-panel">
      <div class="weui-panel__hd"><span>宝贝详情</span></div>
      <div class="weui-panel__bd">
        <div class="weui-media-box">
          <div class="img-box">
            <img src="/assets/images/detail/detail-top.jpg?v=123">
          </div>
          <div class="detail-html" [innerHTML]="prod.detail"></div>
          <div class="img-box">
            <img src="/assets/images/detail/detail-bottom.jpg?v=123">
          </div>
        </div>
      </div>
    </div>

    <div class="weui-cells">
      <a (click)="showService()" class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__bd">
          <p>咨询与售后问题解答</p>
        </div>
        <div class="weui-cell__ft"></div>
      </a>
    </div>

  </div>
</div>

<div class="btns-group">
  <a class="contact btn-secondary" href="tel:020-85599918"><i class="icons icons-kefu"></i><span>咨询客服</span></a>
  <a (click)="showOverlay()" class="btn-primary">立即购买</a>
</div>


<app-overlay [autoHeight]="true" #overlay>
  <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
    <div class="weui-media-box__hd">
      <img class="weui-media-box__thumb" src="{{mainImg}}" alt="">
    </div>
    <div class="weui-media-box__bd">
      <h4 class="weui-media-box__title">{{prod?.productName}}</h4>
      <p class="weui-media-box__desc"><sub>￥</sub><em>{{prod?.salesPrice}}</em><sub>.00</sub>
        <del>￥{{prod?.originalPrice}}.00</del>
      </p>
      <ul class="weui-media-box__info">
        <li class="weui-media-box__info__meta weui-media-box__info__meta_extra"><span
          class="label">阿玛尼制造商直供</span><span class="label">生产周期7天</span></li>
      </ul>
      <p style="font-size: 0.13rem;margin-top: 0.05rem" class="weui-media-box__desc">已选择：<span style="margin-right: 0.1rem" *ngFor="let attr of attrs">{{attr.name}} {{attr.selected.value}}</span><span>数量x{{itemForm.totalQuantity}}</span></p>
    </div>
    <span (click)="close()" class="close"><i class="icons icons-close"></i></span>
  </a>
  <!--<div class="weui-cells__title">请选择：颜色、规格、数量</div>-->

  <div *ngFor="let attr of prod?.attributeList;let i = index">
    <div class="weui-cells__title">{{attr.name}} <span (click)="showRuler()" class="right" *ngIf="attr.name === '尺码'"><i
      class="icons icons-ruler"></i>尺码表</span></div>
    <div class="label-container">
      <span *ngFor="let item of attr.list"
            (click)="setAttr(attr,item,sku.indexOf(item.id) === -1 && attr.name !== '颜色')" class="label"
            [ngClass]="{'selected':attrs[i].selected.id === item.id,'disabled' : sku.indexOf(item.id) === -1 && attr.name !== '颜色'}">{{item.value}}</span>
    </div>
  </div>


  <div class="weui-cells__title">数量</div>
  <weui-stepper [(ngModel)]="itemForm.totalQuantity" (change)="stepperChange($event)" [min]="1"
                [max]="10"></weui-stepper>
  <div class="btns-group">
    <a (click)="go(!(sku?.indexOf(attrs[attrLength - 1].selected.id) === -1 && prod?.attributeList.length > 1))"
       [ngClass]="{'disabled':sku?.indexOf(attrs[attrLength - 1].selected.id) === -1 && prod?.attributeList.length > 1}"
       class="btn-primary">
      <span
        *ngIf="!(sku?.indexOf(attrs[attrLength - 1].selected.id) === -1 && prod?.attributeList.length > 1)">立即购买</span>
      <span *ngIf="sku?.indexOf(attrs[attrLength - 1].selected.id) === -1 && prod?.attributeList.length > 1">无货</span>
    </a>
  </div>
</app-overlay>

<app-overlay #tips>
  <div class="content-scrollable">
    <article class="weui-article">
      <h1 class="title">服务政策</h1>
      <section>
        <h3>1.支持7天无忧退换货</h3>
        <p>自收到商品之日起7天内，可申请无忧退换货服务（食品、贴身衣物、积分兑换等特殊商品除外）</p>
      </section>
      <section>
        <h3>2.48小时快速退款</h3>
        <p>收到退货包裹并确认无误后，将在48小时内办理退款，有一对一客服与您联系，洽商退款事宜。</p>
      </section>
      <section>
        <h3>3.全国货到付款包邮</h3>
        <p>除台湾、香港、澳门以及其他快递货到付款无法配送的地区外，本商城均支持全国包邮、开包验货、满意后再付款，完全“零”风险购物！</p>
      </section>
      <section>
        <h3>4.翼分期优选商品</h3>
        <p>本商城均由翼分期优选层层筛选好物，优选原材料和供应商，把控源头，筛选性价比高的高品质商品。</p>
      </section>
    </article>
  </div>
  <div class="btns-group">
    <a (click)="back()" class="btn-twitter">返回</a>
  </div>
</app-overlay>

<app-overlay #service>
  <div class="content-scrollable">
    <article class="weui-article">
      <h1 class="title">咨询与售后问题解答</h1>
      <section>
        <h3>翼分期优选的商品是正品吗？</h3>
        <p>翼分期优选秉承一贯的严谨态度，对商品的供应商、源材料、工艺都严格把关，通过先验货，后付款的方式，为您的生活甄选最具性价比的高品质的商品，您可以放心选购。</p>
      </section>
      <section>
        <h3>购物流程怎么样？</h3>
        <p>您可以通过翼分期优选的商城页面，挑选心仪的商品，并填写收件信息提交订单，金山优选为您挑选最好的供应商为您准备商品，您就可以安心在家等快递将商品送到您手中。</p>
      </section>
      <section>
        <h3>我的订单如何查询？</h3>
        <p>您可以在翼分期优选的商城页面右上角“我的订单”查询您的订单情况。</p>
      </section>
      <section>
        <h3>我的翼分期优选订单大概多久发货？</h3>
        <p>本订单发货的时间为您下单后的48小时内，翼分期优选为您挑选最好的供应商为您准备好商品并交给签约的优质快递为您配送。若为预售商品，详情请关注预售商品的发货说明，请您耐心等候。</p>
      </section>
      <section>
        <h3>我的翼分期优选订单如何查询物流进度？</h3>
        <p>发货后将会通过短信发送“快递单号”至您收件人手机号码中，您可通过快递查询网站查询物流轨迹信息。亦可登陆“我的订单”里面查询。</p>
      </section>
      <section>
        <h3>商品不满意，想退货怎么办？</h3>
        <p><b>翼分期优选为您提供7天换货尊享服务。</b></p>
        <p><b>未签收：</b>若你能验收时对商品不满意，无需支付任何费用，将商品拒签，快递员带回即可，无需对订单做任何操作。</p>
        <p><b>已签收：</b>若您已签收商品，需办理退货，请您按寄送回发件地址，收到退货包裹并确认无误后，将在48小时内办理退款，有一对一客服与您联系，洽商退款事宜。</p>
        <p><b>注：</b>内衣内裤等属于私密物品，为了个人卫生健康安全，如无质量问题，不予支持退换货</p>
      </section>
      <section>
        <h3>客服的联系方式是什么？</h3>
        <p>翼分期优选客服电话：020-85599918</p>
      </section>
      <section>
        <h3>商品发货后，退换货与拒签收取费用吗？</h3>
        <p><b>未签收退换货：</b>直接拒签，快递员带回即可，无需支付任何费用。</p>
        <p><b>已签收退换货：</b>非商品质量问题退换货，运费由客户自行承担。商品质量问题退换货，由商家承担，客户先垫付物流费（不接受到付），物流费与货款一并退还。</p>
      </section>
      <section>
        <h3>价格说明</h3>
        <p><b>划线价格：</b>指商品专柜价、吊牌价、正品零售价、厂家指导价或该商品曾经展示的价格，并非原价，仅供参考。</p>
        <p><b>未划线价格：</b>指商品的实时价格，不因表述的差异改变性质。具体成交价格根据商品参加活动或者会员试用优惠券、积分等发生变化，最终以订单结算价格为准。</p>
      </section>
    </article>
  </div>
  <div class="btns-group">
    <a (click)="back()" class="btn-twitter">返回</a>
  </div>
</app-overlay>

<weui-mask #ruler [backdrop]="true">
  <div class="img-box" [innerHTML]="prod?.comboparam"></div>
</weui-mask>
