<div class="content-scrollable">
  <div class="profile weui-cells">
    <a (click)="showOverlay('schoolname')" class="weui-cell weui-cell_access">
      <div class="weui-cell__bd">
        <p>学校名称</p>
      </div>
      <div class="weui-cell__ft">{{profileForm.get('schoolname').value ? profileForm.get('schoolname').value : '未填写'}}</div>
    </a>
    <a (click)="showOverlay('major')" class="weui-cell weui-cell_access">
      <div class="weui-cell__bd">
        <p>专业</p>
      </div>
      <div class="weui-cell__ft">{{profileForm.get('major').value ? profileForm.get('major').value : '未填写'}}</div>
    </a>
    <a class="weui-cell">
      <div class="weui-cell__bd">
        <p>时间段</p>
      </div>
      <div class="weui-cell__ft"><span (click)="showDate('begindate')">{{profileForm.get('begindate').value ? profileForm.get('begindate').value : '未选择'}}</span> 至 <span (click)="showDate('enddate')">{{profileForm.get('enddate').value ? profileForm.get('enddate').value : '未选择'}}</span></div>
    </a>
    <a (click)="showOverlay('experience')" class="weui-cell weui-cell_access">
      <div class="weui-cell__bd">
        <p>在校经历</p>
      </div>
      <div class="weui-cell__ft">{{profileForm.get('experience').value ?
        profileForm.get('experience').value.slice(0,15) + '...' : '未填写'}}
      </div>
    </a>
  </div>
</div>

<div class="btns-group">
  <a (click)="onSubmit()" class="btn-twitter">完成</a>
</div>

<app-overlay>
  <div *ngIf="formControl === 'schoolname'" [formGroup]="profileForm" class="weui-cells weui-cells_form">
    <div class="weui-cell"
         [ngClass]="{'weui-cell_warn':profileForm.get('schoolname').invalid}">
      <div class="weui-cell__hd"><label class="weui-label">学校名称</label></div>
      <div class="weui-cell__bd">
        <input class="weui-input" formControlName="schoolname" placeholder="请输入您的公司名称">
      </div>
      <div class="weui-cell__ft">
        <i class="weui-icon-warn"></i>
      </div>
    </div>
  </div>

  <div *ngIf="formControl === 'major'" [formGroup]="profileForm" class="weui-cells weui-cells_form">
    <div class="weui-cell"
         [ngClass]="{'weui-cell_warn':profileForm.get('major').invalid}">
      <div class="weui-cell__hd"><label class="weui-label">专业</label></div>
      <div class="weui-cell__bd">
        <input class="weui-input" formControlName="major" placeholder="请输入您的专业名称">
      </div>
      <div class="weui-cell__ft">
        <i class="weui-icon-warn"></i>
      </div>
    </div>
  </div>

  <div *ngIf="formControl === 'experience'" [formGroup]="profileForm" class="weui-cells weui-cells_form">
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <textarea class="weui-textarea" formControlName="experience" placeholder="工作负责的内容、达到的项目效果或个人突出表现等内容"
                  rows="3"></textarea>
        <div class="weui-textarea-counter"><span>{{profileForm.get('experience').value.length}}</span>/200</div>
      </div>
    </div>

  </div>

  <div class="btns-group">
    <a (click)="overlaySubmit()" class="btn-twitter">确定</a>
  </div>
</app-overlay>
