<div class="content-scrollable">
  <div class="weui-panel">
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title">总经理专用司机<em class="right">10k - 15k</em></h4>
          <p class="company">环环时报时事 · 北京 · 中心区</p>
          <div class="label-container">
            <span class="ui-label">1～3年经验</span>
            <span class="ui-label">学历不限</span>
            <span class="ui-label">2年兵以上</span>
          </div>
          <p class="tags"><i class="icons icons-tags"></i> 驾驶 · 安全防护 · 商务礼仪</p>
        </div>
      </div>

      <div class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title">总经理专用司机<em class="right">10k - 15k</em></h4>
          <p class="company">环环时报时事 · 北京 · 中心区</p>
          <div class="label-container">
            <span class="ui-label">1～3年经验</span>
            <span class="ui-label">学历不限</span>
            <span class="ui-label">2年兵以上</span>
          </div>
          <p class="tags"><i class="icons icons-tags"></i> 驾驶 · 安全防护 · 商务礼仪</p>
        </div>
      </div>

      <div class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title">总经理专用司机<em class="right">10k - 15k</em></h4>
          <p class="company">环环时报时事 · 北京 · 中心区</p>
          <div class="label-container">
            <span class="ui-label">1～3年经验</span>
            <span class="ui-label">学历不限</span>
            <span class="ui-label">2年兵以上</span>
          </div>
          <p class="tags"><i class="icons icons-tags"></i> 驾驶 · 安全防护 · 商务礼仪</p>
        </div>
      </div>

      <div class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title">总经理专用司机<em class="right">10k - 15k</em></h4>
          <p class="company">环环时报时事 · 北京 · 中心区</p>
          <div class="label-container">
            <span class="ui-label">1～3年经验</span>
            <span class="ui-label">学历不限</span>
            <span class="ui-label">2年兵以上</span>
          </div>
          <p class="tags"><i class="icons icons-tags"></i> 驾驶 · 安全防护 · 商务礼仪</p>
        </div>
      </div>

      <div class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title">总经理专用司机<em class="right">10k - 15k</em></h4>
          <p class="company">环环时报时事 · 北京 · 中心区</p>
          <div class="label-container">
            <span class="ui-label">1～3年经验</span>
            <span class="ui-label">学历不限</span>
            <span class="ui-label">2年兵以上</span>
          </div>
          <p class="tags"><i class="icons icons-tags"></i> 驾驶 · 安全防护 · 商务礼仪</p>
        </div>
      </div>
    </div>
  </div>
</div>
