<div class="content-scrollable">
  <div class="profile weui-cells">
    <a routerLink="/uploader/avatar" class="weui-cell weui-cell_access">
      <div class="weui-cell__bd">
        <p>头像</p>
      </div>
      <div class="weui-cell__ft">
        <img class="avatar" src="/assets/images/avatar.jpg">
      </div>
    </a>
    <a (click)="showOverlay('name')" class="weui-cell weui-cell_access" href="javascript:;">
      <div class="weui-cell__bd">
        <p>姓名</p>
      </div>
      <div class="weui-cell__ft">杨洋</div>
    </a>
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <p>性别</p>
      </div>
      <div class="weui-cell__ft" style="font-size: 0">
        <label (click)="sex='男'" [ngClass]="{'checked':sex === '男'}">
          <span>男</span>
          <i class="weui-icon-checked"></i>
        </label>
        <label (click)="sex='女'" [ngClass]="{'checked':sex === '女'}">
          <span>女</span>
          <i class="weui-icon-checked"></i>
        </label>
      </div>
    </div>
    <a (click)="showDate('date-ym','birthday')" class="weui-cell weui-cell_access">
      <div class="weui-cell__bd">
        <p>出生年月</p>
      </div>
      <div class="weui-cell__ft">1993-01</div>
    </a>
    <a (click)="showData('weight')" class="weui-cell weui-cell_access">
      <div class="weui-cell__bd">
        <p>体重</p>
      </div>
      <div class="weui-cell__ft">{{profileForm.get('weight').value ? profileForm.get('weight').value + 'KG' : '未填写'}}</div>
    </a>
    <a (click)="showData('height')" class="weui-cell weui-cell_access">
      <div class="weui-cell__bd">
        <p>身高</p>
      </div>
      <div class="weui-cell__ft">{{profileForm.get('height').value ? profileForm.get('height').value + 'KG' : '未填写'}}</div>
    </a>
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <p>婚姻状况</p>
      </div>
      <div class="weui-cell__ft">
        <div class="weui-cell__ft" style="font-size: 0">
          <label (click)="marital='已婚'" [ngClass]="{'checked':marital === '已婚'}">
            <span>已婚</span>
            <i class="weui-icon-checked"></i>
          </label>
          <label (click)="marital='未婚'" [ngClass]="{'checked':marital === '未婚'}">
            <span>未婚</span>
            <i class="weui-icon-checked"></i>
          </label>
          <label (click)="marital='离异'" [ngClass]="{'checked':marital === '离异'}">
            <span>离异</span>
            <i class="weui-icon-checked"></i>
          </label>
        </div>
      </div>
    </div>
    <a class="weui-cell weui-cell_access" href="javascript:;">
      <div class="weui-cell__bd">
        <p>民族</p>
      </div>
      <div class="weui-cell__ft">汉族</div>
    </a>
    <a (click)="showCity('location')" class="weui-cell weui-cell_access">
      <div class="weui-cell__bd">
        <p>所在地</p>
      </div>
      <div class="weui-cell__ft">{{location ? location : '所在城市'}}</div>
    </a>
    <a class="weui-cell weui-cell_access" href="javascript:;">
      <div class="weui-cell__bd">
        <p>籍贯</p>
      </div>
      <div class="weui-cell__ft">户口所在地</div>
    </a>
    <a (click)="showData('education')" class="weui-cell weui-cell_access" href="javascript:;">
      <div class="weui-cell__bd">
        <p>学历</p>
      </div>
      <div class="weui-cell__ft">{{profileForm.get('education').value ? profileForm.get('education').value : '最高学历'}}</div>
    </a>
    <a (click)="showOverlay('mobile')" class="weui-cell weui-cell_access" href="javascript:;">
      <div class="weui-cell__bd">
        <p>联系手机</p>
      </div>
      <div class="weui-cell__ft">请输入联系电话</div>
    </a>
  </div>
</div>

<app-overlay>
  <div [formGroup]="profileForm" class="weui-cells weui-cells_form">
    <div *ngIf="formControl === 'name'" class="weui-cell"
         [ngClass]="{'weui-cell_warn':profileForm.get('name').invalid}">
      <div class="weui-cell__hd"><label class="weui-label">姓名</label></div>
      <div class="weui-cell__bd">
        <input class="weui-input" formControlName="name" placeholder="请输入您的姓名">
      </div>
      <div class="weui-cell__ft">
        <i class="weui-icon-warn"></i>
      </div>
    </div>

    <div *ngIf="formControl === 'mobile'" class="weui-cell"
         [ngClass]="{'weui-cell_warn':profileForm.get('mobile').invalid}">
      <div class="weui-cell__hd"><label class="weui-label">联系手机</label></div>
      <div class="weui-cell__bd">
        <input class="weui-input" formControlName="mobile" placeholder="请输入联系电话">
      </div>
      <div class="weui-cell__ft">
        <i class="weui-icon-warn"></i>
      </div>
    </div>
  </div>


  <div class="weui-cells">
    <a (click)="onSubmit()" class="weui-cell">
      <div class="weui-cell__bd" style="text-align: center">确定</div>
    </a>
  </div>
</app-overlay>
