<article class="weui-article">
  <h1>污力滔滔的香蕉先生，竟然还可以用来做这种事！</h1>
  <section>
    <p>
      现在的<em>整人套路层出不穷，防不胜防</em>，大家可要注意防范！
      不然一不小心就会被笑话到明年。
    </p>
    <p>
      <img [offset]="10" [lazyLoad]="'/assets/images/banana/article/01.gif'">
    </p>
    <p>或者有些不屑于玩套路的，<br>
      <em>简单粗暴系列爱好者...</em><br>
      大家一定要注意脚下的路。<br>
      <em># 套路是不会的，这辈子都不会的，</em><br>
      <em>所以直接把你的路给截了...</em><br>
    </p>
    <p>
      <img [offset]="10" [lazyLoad]="'/assets/images/banana/article/02.gif'">
    </p>
    <p>最近就被一只<em>大香蕉</em>套路了，<br>
      很美<em>（huang）</em>、很贴<em>（bao）</em>心<em>（li）</em>！<br>
      首先这个外型就非常不可描述了，但没想到它的功能是...<br>
    </p>
    <p>
      <img [offset]="10" [lazyLoad]="'/assets/images/banana/article/03.gif'">
    </p>
    <p>这个坏家伙不止是它的外表邪恶够污，内涵也很丰富...<br>
      还不赶紧抢先一步入手一只！？
    </p>
    <p>
      <img [offset]="10" [lazyLoad]="'/assets/images/banana/article/04.jpg'">
    </p>
    <p>这个惹眼的坏家伙<em>刷爆了朋友圈</em>，<br>
      而且刷爆的还不止是咱们平民老百姓的朋友圈，<br>
      连明星大佬们也统统被它所折服！
    </p>
    <p>
      <img [offset]="10" [lazyLoad]="'/assets/images/banana/article/05.jpg'">
    </p>
    <p><em>各大场合，人手一只，</em>好羞射啊...<br>
      电影《前任》里头的花心痴情大boy<br>
      ——Wuli恺恺~
    </p>
    <p>
      <img [offset]="10" [lazyLoad]="'/assets/images/banana/article/06.jpg'">
    </p>
    <p>颜值、才华及歌声都无敌的天后<br>
      —— Jolin蔡依林~
    </p>
    <p>
      <img [offset]="10" [lazyLoad]="'/assets/images/banana/article/07.jpg'">
    </p>
    <p>气质绝佳的江一燕，<br>
      也是拿着香蕉先生笑得合不拢嘴。
    </p>
    <p>
      <img [offset]="10" [lazyLoad]="'/assets/images/banana/article/08.jpg'">
    </p>
    <p>就连我们帅帅的，酷酷的——<br>
      袁成杰小哥哥也被征服了。
    </p>
    <p>
      <img [offset]="10" [lazyLoad]="'/assets/images/banana/article/09.jpg'">
    </p>

    <p>上市就轰动了半个娱乐圈，<br>
      <em>明星们都为BANANA.SIR疯狂打call~</em><br>
      <em>▼</em>
    </p>

    <p>
      <video class="lib-video" loop="" controls controlslist="" webkit-playsinline="webkit-playsinline"
             playsinline="playsinline"
             poster="/assets/images/banana/online/0.jpg"
             src="/assets/images/banana/online/5.mp4" type="video/mp4"></video>
    </p>

    <p>你一定在想...<br>
      wuli偶像们<em>为何被一只香蕉征服</em>了,<br>
      这还得从它的故事说起...
    </p>
    <p><span>出身名门，正版授权</span><br>
      <span>邪恶香蕉</span><br>
      <em>▼</em><br>
      首先这是一款<em>具备收藏价值</em>的玩具，<br>
      <em>Banana Sir 形象</em>，<br>
      来源于美国怪诞设计师——<br>
      Anthony一次“恶搞之作”。</p>
    <p>
      <img [offset]="10" [lazyLoad]="'/assets/images/banana/article/10.gif'">
    </p>
    <p>他的好朋友Tyler因为女朋友想分手向他求助，<br>
      希望能设计一款礼物<em>讨女朋友欢心</em>。<br>
      Anthony却认为这是个好机会，<br>
      能让朋友趁机甩了他那个无趣的女朋友，<br>
      于是极尽邪恶地设计了一款<em>“邪恶香蕉”</em>，<br>
      万万没想到Tyler的女朋友却非常喜欢这个礼物...<br>
      从此对Tyler产生了改观....<br>
      <em># 导演，剧情没有按套路发展啊！</em></p>
    <p>
      <img [offset]="10" [lazyLoad]="'/assets/images/banana/article/11.gif'">
    </p>
    <p>
      而他设计的这支香蕉就是，
      全球明星追捧的公仔——<em>“邪恶香蕉”</em>，
      个性化的造型让全球都为之震动！Boom~
      <em>下方高能出现， 请保护好自己的眼睛！</em>
    </p>
    <p>
      <img [offset]="10" [lazyLoad]="'/assets/images/banana/article/12.jpg'">
    </p>
    <p><em>BANANA.SIR，</em><br>
      <em>拥有“邪恶香蕉”独家版权。</em><br>
      维持邪恶香蕉的搞怪形象，<br>
      正式生产了以“邪恶香蕉”为外形包装<br>
      的超级明星产品。<br>
      并让其成为了一<em>款独具功效的生活用品</em>，<br>
      这就BANANA.SIR的诞生记。
    </p>
    <p>
      <img [offset]="10" [lazyLoad]="'/assets/images/banana/article/13.gif'">
    </p>
    <p>连“国民老公”王思聪，
      都对BANANA.SIR赞不绝口，
      <em>它简直就变成了一个重磅IP。</em>
    </p>
    <p>
      <img [offset]="10" [lazyLoad]="'/assets/images/banana/article/14.jpg'">
    </p>
    <p>BANANA.SIR，
      按照美国“邪恶香蕉”公仔<em>一比一原版制作</em>，
      空少已经为它“验明正身”，
      <em>细节处理非常精致到位，质感十足~</em>
    </p>
    <p>
      <img [offset]="10" [lazyLoad]="'/assets/images/banana/article/15.jpg'">
    </p>
    <p><span>BANANA.SIR</span><br>
      <span>夺人眼球的送礼神器</span><br>
      <em>▼</em><br>
      送礼难？不知道送啥？<br>
      你需要一个BANANA.SIR，<br>
      <em>想象一下你的朋友收到时的邪恶笑容！</em>
    </p>
    <p>
      <img [offset]="10" [lazyLoad]="'/assets/images/banana/article/16.jpg'">
    </p>
    <p>
      <em>与众不同的装饰效果，</em><br>
      不论是你的办公桌还是家里，<br>
      作为新新人类，我们坚决不走寻常路，<br>
      引领潮流，请备好BANANA.SIR！
    </p>
    <p>
      <img [offset]="10" [lazyLoad]="'/assets/images/banana/article/17.jpg'">
      <img [offset]="10" [lazyLoad]="'/assets/images/banana/article/18.jpg'">
      <img [offset]="10" [lazyLoad]="'/assets/images/banana/article/19.gif'">
    </p>
    <p>
      <span>它竟然还可以装洗发水、沐浴露、洗手液！</span><br>
      <span>可以替换补充，持续使用</span><br>
      <em>▼</em><br>
      如果你以为BANANA.SIR只有颜值，<br>
      那你就大错特错，人家可是有内涵的呢！<br>
      人家其实可以放入<em>洗发水</em>啦！（沐浴露、洗手液也可以）<br>
      怎么样，有没有很惊喜，有没有很刺激，<br>
      人家的香蕉里有点东西喔~<br>
      <em># 挤出洗发水的过程也实在是太污力滔滔了吧！</em>
    </p>
    <p>
      <img [offset]="10" [lazyLoad]="'/assets/images/banana/article/20.jpg'">
    </p>
    <p>明明可以靠颜值，偏偏还有才华，小身材大能量<br>
      BANANA.SIR可以很傲娇地说：怎么样？气不气？
    </p>
    <p>
      <img [offset]="10" [lazyLoad]="'/assets/images/banana/article/21.jpg'">
    </p>
    <p>
      <img [offset]="10" [lazyLoad]="'/assets/images/banana/article/22.gif'">
    </p>
    <p>反复使用，持续羞射，<br>
      使用完的BANANA.SIR，<br>
      瓶子还可以<em>DIY</em>灌装各种东东，<br>
      <em>洗手液、沐浴露、护发素、洗衣液、洗洁精</em><br>
      <em>......</em><br>
      让你家的洗手间不再只有毫无创意的瓶瓶罐罐！</p>
    <p>
      <img [offset]="10" [lazyLoad]="'/assets/images/banana/article/23.gif'">
    </p>
    <p><span>精美外包装，送礼体面</span><br>
      <em>▼</em><br>
      <em>外包装很走心了</em>，<br>
      送礼都不用二次包装，<br>
      而且这个外壳包装，<br>
      对产品有更好的<em>保护作用，便于储运</em>。<br>
      精致的包装，代表性且抢眼的颜色，<br>
      吸引注意力，让你的朋友博得所有人的眼球！
    </p>
    <p>
      <img [offset]="10" [lazyLoad]="'/assets/images/banana/article/24.gif'">
    </p>
    <p>最后，关于它的使用方法，<br>
      再重申一下，不要乱捏呦，<br>
      <em>独特的防漏设计，只有挤压准确的位子，</em><br>
      <em>才能源源不断的捏出来哦！</em><br>
      真是绝佳使用体验呢！
    </p>
    <p>
      <img [offset]="10" [lazyLoad]="'/assets/images/banana/article/25.gif'">
      <img [offset]="10" [lazyLoad]="'/assets/images/banana/article/26.jpg'">
    </p>
    <p>BANANA.SIR的邪恶造型能够给生活带来无限乐趣，<br>
      值得你入手一个，带回家！
    </p>
    <p>
      <img [offset]="10" [lazyLoad]="'/assets/images/banana/article/27.gif'">
    </p>
  </section>
</article>
