<!--0:文本;1:职位;2:换电话;3:换微信4:索要简历;5:系统消息;6:邀请面试;7:发送简历;8:同意交换电话;9:求职者接受面试-->

<div class="icons-group weui-flex">
  <div (click)="submit(2)" class="weui-flex__item">
    <div class="weui-grid__icon">
      <i class="colors green icons icons-mobile"></i>
    </div>
    <p class="weui-grid__label">换电话</p>
  </div>
  <div (click)="submit(4)" class="weui-flex__item">
    <div class="weui-grid__icon">
      <i class="colors blue icons icons-resume"></i>
    </div>
    <p class="weui-grid__label">求简历</p>
  </div>
  <div (click)="showInvite()" class="weui-flex__item">
    <div class="weui-grid__icon">
      <i class="colors teal icons icons-interview"></i>
    </div>
    <p class="weui-grid__label">面试TA</p>
  </div>
  <div (click)="back()" class="weui-flex__item">
    <div class="weui-grid__icon">
      <i class="colors orange icons icons-logout"></i>
    </div>
    <p class="weui-grid__label">不合适</p>
  </div>
  <!--<div (click)="submit(2)" class="weui-flex__item">
    <div class="weui-grid__icon">
      <i class="colors green icons icons-mobile"></i>
    </div>
    <p class="weui-grid__label">换电话</p>
  </div>
  <div (click)="submit(7)" class="weui-flex__item">
    <div class="weui-grid__icon">
      <i class="colors blue icons icons-send"></i>
    </div>
    <p class="weui-grid__label">发简历</p>
  </div>
  <div class="weui-flex__item">
    <div class="weui-grid__icon">
      <i class="colors orange icons icons-logout"></i>
    </div>
    <p class="weui-grid__label">不合适</p>
  </div>-->
</div>
<div class="content-scrollable" #container>
  <div *ngIf="job && chat" class="item-details weui-panel weui-panel_access">
    <div class="weui-panel__bd">
      <a class="weui-media-box weui-media-box_appmsg">
        <!--<div class="weui-media-box__hd">
          <img class="avatar" src="/assets/images/avatars/3.jpg">
        </div>-->
        <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title">{{job.postname}}<em class="right">10k - 15k</em></h4>
          <p class="weui-media-box__desc">{{job.companyname}}<span
            class="right">{{job.addresscity}}{{job.addressarea}}</span></p>
        </div>
      </a>
      <div class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__bd">
          <p class="arr weui-media-box__desc"><i class="icons icons-position"></i><span>{{job.experiencetype | label : experiences}}</span><span
            class="dot">·</span><i
            class="icons icons-edu"></i><span>{{job.limiteducationtype | label : educations}}</span><span
            class="dot">·</span><i
            class="icons icons-soldier"></i><span>{{job.serviceage | label : lengthOfMilitary}}</span></p>
          <p class="weui-media-box__desc">1.拥有扎实的JavaSE基础，良好的编码习惯；<br>2.熟悉各种开源框架SpringMVC，Spring，Mybatis...</p>
        </div>
      </div>
    </div>
    <div class="weui-panel__ft">
      <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link">
        <div class="weui-cell__bd">
          <p class="weui-media-box__desc">{{chat.recordtime | repairDate | date : 'MM:dd HH:mm'}} 由您发起沟通</p>
        </div>
      </a>
    </div>
  </div>

  <div class="messages weui-panel">
    <div class="weui-panel__bd">
      <weui-ptr (refresh)="onRefresh($event)" [disabled]="disabled">
        <div *ngFor="let record of records" [ngClass]="{'message-right':record.rolename !== '1'}"
             class="message weui-media-box weui-media-box_appmsg">
          <div *ngIf="record.rolename === '1'" class="weui-media-box__hd">
            <img class="avatar" src="{{config.prefix.wApi + record.headimg}}">
          </div>
          <div class="weui-media-box__bd">
            <span *ngIf="record.datatype === '0'" class="message-box">{{record.content}}</span>
            <span *ngIf="record.datatype === '2' && record.rolename !== '1'" class="message-box colors blue">您向对方发起了换电话请求</span>
            <div *ngIf="record.datatype === '2' && record.rolename === '1'" class="message-dialog weui-dialog" [ngClass]="{'disabled':record.datastate !== '0'}">
              <div class="weui-dialog__bd">对方向您发起了换电话请求，是否同意？</div>
              <div class="weui-dialog__ft">
                <a (click)="submit(8,2,record);record.datastate = '2'" class="weui-dialog__btn weui-dialog__btn_default">拒绝</a>
                <a (click)="submit(8,1,record);record.datastate = '1'" class="weui-dialog__btn weui-dialog__btn_primary">同意</a>
              </div>
            </div>

            <span *ngIf="record.datatype === '4' && record.rolename !== '1'"
                  class="message-box colors blue">您向对方请求了简历</span>

            <span *ngIf="record.datatype === '6' && record.rolename === '1'"
                  class="message-box colors blue">对方接受了面试邀请</span>
            <span *ngIf="record.datatype === '6' && record.rolename !== '1'"
                  class="message-box colors blue">您向对方邀请了面试</span>

            <div *ngIf="record.datatype === '7' && record.rolename === '1'" class="message-dialog weui-dialog">
              <div class="weui-dialog__bd">对方向您发送了简历</div>
              <div class="weui-dialog__ft">
                <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">查看</a>
              </div>
            </div>

            <div *ngIf="record.datatype === '8' && record.rolename !== '1'" class="message-dialog weui-dialog">
              <div class="weui-dialog__bd">您同意了交电话的请求，对方的号码是：{{record.content}}</div>
              <div class="weui-dialog__ft">
                <a href="sms:{{record.content}}" class="weui-dialog__btn weui-dialog__btn_default">短信</a>
                <a href="tel:{{record.content}}" class="weui-dialog__btn weui-dialog__btn_primary">拨打</a>
              </div>
            </div>

            <div *ngIf="record.datatype === '8' && record.rolename === '1'" class="message-dialog weui-dialog">
              <div class="weui-dialog__bd">对方同意了交电话的请求，对方的号码是：{{record.content}}</div>
              <div class="weui-dialog__ft">
                <a href="sms:{{record.content}}" class="weui-dialog__btn weui-dialog__btn_default">短信</a>
                <a href="tel:{{record.content}}" class="weui-dialog__btn weui-dialog__btn_primary">拨打</a>
              </div>
            </div>

            <span *ngIf="record.datatype === '10'" class="message-box">
              <a *ngIf="record.datastate === '1'" [routerLink]="['/employer/find/item',record.senderid]"
                 [queryParams]="{postId:id}">对方同意了您索要简历的请求，并向您发送了简历</a>
              <span *ngIf="record.datastate === '2'">对方拒绝了您索要简历的请求</span>
            </span>
          </div>
          <div *ngIf="record.rolename !== '1'" class="weui-media-box__hd">
            <img class="avatar" src="{{config.prefix.wApi + record.headimg}}">
          </div>
        </div>
      </weui-ptr>
    </div>
  </div>
</div>
<div class="post-comment">
  <form [formGroup]="messageForm" (submit)="submit(0)">
    <div class="weui-grids">
      <div class="comment weui-grid">
        <input formControlName="content" placeholder="说点什么吧！">
      </div>
      <div class="post weui-grid">
        <button type="submit" weui-button [disabled]="messageForm.get('content').invalid" [weui-type]="'primary'">
          <span>发布</span>
        </button>
      </div>
    </div>
  </form>
</div>

<app-overlay>
  <div *ngIf="chat" class="weui-panel weui-panel_access">
    <div class="weui-panel__hd">发起面试邀请</div>
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
          <img class="avatar weui-media-box__thumb" src="{{config.prefix.wApi + chat.candidateimg}}" alt="">
        </div>
        <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title">{{chat.candidatename}}</h4>
          <p class="weui-media-box__desc">面试职位：{{chat.postname}}</p>
        </div>
      </div>
    </div>
    <div class="weui-panel__ft">
      <a (click)="showPicker()" class="weui-cell weui-cell_access weui-cell_link">
        <div class="weui-cell__hd"><i class="icons icons-clock"></i></div>
        <div class="weui-cell__bd">面试时间</div>
        <span class="weui-cell__ft">{{inviteForm.get('interviewtime').value ? inviteForm.get('interviewtime').value : '请选择面试时间'}}</span>
      </a>
      <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link">
        <div class="weui-cell__hd"><i class="icons icons-address"></i></div>
        <div class="weui-cell__bd">面试地点</div>
        <span class="weui-cell__ft">{{inviteForm.get('address').value}}</span>
      </a>
    </div>
  </div>

  <div [formGroup]="inviteForm" class="overlay-inputs">
    <div class="weui-cells__title">补充说明(选填)</div>
    <div class="weui-cells weui-cells_form">
      <div class="weui-cell">
        <div class="weui-cell__bd">
        <textarea class="weui-textarea" formControlName="remark"
                  placeholder="请填写详细及清晰的职位描述，有助您更准确地招聘到合适人选哦！（不可填写QQ、微信、电话等其他联系方式，请注意！）"
                  rows="3"></textarea>
          <div class="weui-textarea-counter"><span>{{inviteForm.get('remark').value.length}}</span>/200</div>
        </div>
      </div>
    </div>
  </div>


  <div class="btns-group">
    <a (click)="inviteSubmit()" class="btn-twitter">确定</a>
  </div>
</app-overlay>
