.finder {
  margin-top: 0;
  font-size: 0.12rem;
  color: #666;
  z-index: 1003;
  .weui-cell__bd {
    line-height: 0.18rem;
  }
  .weui-cell__ft {
    line-height: 0.18rem;
    i {
      display: block;
      font-size: 0.18rem;
    }
  }
  .posts {
    .weui-cell__bd {
      font-size: 0;
      .name {
        display: inline-block;
        vertical-align: middle;
        font-size: 0.12rem;
        margin-right: 0.2rem;
        position: relative;
        &:after {
          content: ' ';
          position: absolute;
          width: 2em;
          height: 2px;
          left: 50%;
          bottom: -0.05rem;
          margin-left: -1em;
          background: #CC3629;
          border-radius: 2px;
          display: none;
        }
        &.curr {
          color: #CC3629;
          &:after {
            display: block;
          }
        }
      }
    }
  }
  .filters {
    .weui-cell__bd {
      text-align: center;
      font-size: 0;
      line-height: 0;
      span {
        font-size: 0.12rem;
        display: inline-block;
        line-height: 0.18rem;
        vertical-align: middle;
        color: #999;
      }
      i {
        font-size: 0.18rem;
        vertical-align: middle;
        color: #DCDCDC;
      }
      &.curr {
        span, i {
          color: #CC3629;
        }
      }
    }
  }
}

.weui-infiniteloader {
  padding-top: 0.96rem;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  width: 100vw;
}

.weui-panel {
  margin-top: 0.1rem;
  &:before, &:after {
    display: none;
  }
  &:first-child {
    margin-top: 0.1rem;
  }
}

.weui-cell_link {
  padding: 0.1rem 0.15rem;
  font-size: 0.13rem;
  color: #000;
  &:before {
    display: none;
  }
}

.animated {
  display: none;
  &.fadeInDown {
    display: block;
  }
  &.fadeOutUp {
    display: block;
  }
}

.filters-container {
  position: absolute;
  top: 0.96rem;
  bottom: 0;
  width: 100%;
  z-index: 1002;
  background: #fff;
  animation-duration: 300ms;
  .content-scrollable {
    background: #fff;
    &:after {
      display: block;
      content: ' ';
      height: 0.5rem;
    }
    .weui-media-box {
      .weui-grids {
        margin: 0 -0.1rem;
        .weui-grid {
          width: 25%;
          .ui-label {
            margin: 0.1rem;
            font-size: 0.11rem;
            display: block;
            text-align: center;
            line-height: 1;
            padding: 0.1rem 0;
            border-radius: 0.04rem;
            background: #F7F7F7;
            &.curr {
              background: rgba(204, 54, 41, 0.2);
              color: #CC3629;
            }
          }
        }
      }
    }
  }
}
