/* You can add global styles to this file, and also import other style files */
@import "sass/utils/icon";
@import "sass/utils/base";
@import "sass/utils/label";
@import "sass/utils/button";
@import "sass/utils/userinfo";
@import "sass/utils/colors";
@import "sass/utils/swipe";
/* weui */
@import "sass/weui/badge";
@import "sass/weui/cells";
@import "sass/weui/panel";
@import "sass/weui/dialog";
@import "sass/weui/grids";
@import "sass/weui/tab";
@import "sass/weui/infiniteloader";
@import "sass/weui/ptr";
