<div *ngIf="job" class="content-scrollable">
  <div class="job weui-panel weui-panel_access">
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_appmsg weui-media-box_access">
        <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title">{{job.postname}} <em class="salary">{{job.salarybegin}}k -
            {{job.salaryend}}k</em>
            <span class="right actions">
              <i (click)="follow()" class="icons icons-star_fill" [ngClass]="{'followed':job.ifFollow}"></i>
              <i class="icons icons-share"></i>
            </span>
          </h4>
          <div class="weui-grids">
            <div class="weui-grid">
              <i class="icons icons-address"></i><span>{{job.addresscity}}{{job.addressarea}}</span>
            </div>
            <div class="weui-grid">
              <i class="icons icons-position"></i><span>{{job.experiencetype | label : experiences}}</span>
            </div>
            <div class="weui-grid">
              <i class="icons icons-edu"></i><span>{{job.limiteducationtype | label : educations}}</span>
            </div>
            <div class="weui-grid">
              <i class="icons icons-soldier"></i><span>{{job.serviceage | label : lengthOfMilitary}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="company weui-panel weui-panel_access">
    <div class="weui-panel__bd">
      <div [routerLink]="['/employee/find/company/item',company?.id]"
           class="weui-media-box weui-media-box_appmsg weui-media-box_access">
        <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title">{{job.companyname}}</h4>
          <p class="weui-media-box__desc">{{company?.financingprogress | label : finances}} · {{company?.staffsize |
            label : staffs}} · {{company?.tradename}}</p>
          <div class="ui-labels weui-grids">
            <div *ngFor="let item of company?.excellencename.split(',')" class="weui-grid">
              <span class="ui-label">{{item}}</span>
            </div>
          </div>
        </div>
        <div class="weui-media-box__hd">
          <img
            src="{{company?.headerimage ? config.prefix.wApi + company?.headerimage : '/assets/images/avatars/1.jpg'}}">
        </div>
      </div>
    </div>
  </div>

  <div class="weui-panel weui-panel_access">
    <div class="weui-panel__bd">
      <div style="padding-bottom: 0" class="weui-media-box weui-media-box_appmsg weui-media-box_access">
        <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title">职位详情</h4>
          <div class="text-area">
            {{job.positiondesc}}
          </div>
        </div>
      </div>
    </div>
    <div class="weui-panel__ft">
      <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link">
        <div class="weui-cell__bd"><span class="colors blue ">查看全部</span></div>
        <span class="weui-cell__ft"></span>
      </a>
    </div>
  </div>

  <div class="weui-panel weui-panel_access">
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_appmsg weui-media-box_access">
        <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title">技能要求</h4>
          <div class="ui-labels weui-grids">
            <div *ngFor="let item of job.skillnames.split(',')" class="weui-grid">
              <span class="ui-label">{{item}}</span>
            </div>
          </div>
        </div>
        <div class="weui-media-box__hd"></div>
      </div>
    </div>
  </div>

  <div class="weui-panel weui-panel_access">
    <div class="weui-panel__bd">
      <div style="padding-bottom: 0" class="weui-media-box weui-media-box_appmsg weui-media-box_access">
        <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title">公司介绍</h4>
          <p class="weui-media-box__desc">{{company?.introduction}}</p>
        </div>
      </div>
    </div>
    <div class="weui-panel__ft">
      <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link">
        <div class="weui-cell__bd"><span class="colors blue ">查看全部</span></div>
        <span class="weui-cell__ft"></span>
      </a>
    </div>
  </div>

  <div class="weui-panel weui-panel_access">
    <div class="weui-panel__hd">职位推荐</div>
    <div class="weui-panel__bd">
      <div *ngFor="let job of jobs" [routerLink]="['/employee/find/job/item',job.id]"
           class="weui-media-box weui-media-box_appmsg weui-media-box_access">
        <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title">{{job.postname}} <em class="right">{{job.salarybegin}}k -
            {{job.salaryend}}k</em></h4>
          <p class="weui-media-box__address">{{job.companyname}} · {{job.addresscity}} · {{job.addressarea}}</p>
          <p class="arr weui-media-box__desc"><i class="icons icons-position"></i><span>{{job.experiencetype | label : experiences}}</span><span
            class="dot">·</span><i
            class="icons icons-edu"></i><span>{{job.limiteducationtype | label : educations}}</span><span
            class="dot">·</span><i
            class="icons icons-soldier"></i><span>{{job.serviceage | label : lengthOfMilitary}}</span></p>
          <p class="arr weui-media-box__desc"><i style="font-size: 0.14rem" class="icons icons-tags"></i><span
            *ngFor="let item of job.skillnames.split(','); let i = index"><span class="dot" *ngIf="i !== 0">·</span>{{item}}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="btns-group">
  <a [routerLink]="['/employee/message/item',id]" class="btn-primary">立即沟通</a>
</div>
