.post-form {
  margin-bottom: 0.5rem;
}
.weui-cells {
  font-size: 0.13rem;
  color: #666;
}

app-overlay {
  .label-container {
    padding: 0.1rem 0.15rem 0.3rem;
  }

  .weui-grid {
    width: 25%;
  }
}
