<weui-navbar>
  <weui-tab heading="即将开始">
    <app-no-record *ngIf="interviews?.length < 1"></app-no-record>
    <weui-infiniteloader *ngIf="interviews?.length > 0" (loadmore)="onInterviewsLoadMore($event)">
      <div class="weui-panel">
        <div class="weui-panel__bd">
          <div *ngFor="let item of interviews" [routerLink]="['/employee/seeker/evaluate',item.id]" class="weui-media-box weui-media-box_appmsg weui-media-box_access">
            <div class="weui-media-box__hd">
              <img class="avatar" src="/assets/images/avatars/1.jpg">
            </div>
            <div class="weui-media-box__bd">
              <h4 class="weui-media-box__title">{{item.managerName}} <span class="right colors red">{{item.salaryrange.split('-')[0]}}k - {{item.salaryrange.split('-')[1]}}k</span></h4>
              <p class="weui-media-box__desc">{{item.positionname}}<span class="right date">{{item.interviewtime}}</span></p>
            </div>
            <div class="weui-media-box__ft"></div>
          </div>
        </div>
      </div>
    </weui-infiniteloader>
  </weui-tab>
  <weui-tab heading="已经结束">
    <app-no-record *ngIf="interviewed?.length < 1"></app-no-record>
    <weui-infiniteloader *ngIf="interviewed?.length > 0" (loadmore)="onInterviewedLoadMore($event)">
      <div class="weui-panel">
        <div class="weui-panel__bd">
          <div *ngFor="let item of interviewed" class="weui-media-box weui-media-box_appmsg weui-media-box_access">
            <div class="weui-media-box__hd">
              <img class="avatar" src="/assets/images/avatars/1.jpg">
            </div>
            <div class="weui-media-box__bd">
              <h4 class="weui-media-box__title">黑寡妇 <span class="colors blue right">待评价</span></h4>
              <p class="weui-media-box__desc">安保培训教官 · 8k - 10k <span class="right date">2018-07-23 10:00</span></p>
            </div>
            <div class="weui-media-box__ft"></div>
          </div>
        </div>
      </div>
    </weui-infiniteloader>
  </weui-tab>
</weui-navbar>
