<div class="content-scrollable">
  <div class="weui-panel">
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title">{{interview?.cmpanyname}}</h4>
          <p class="post-name">{{interview?.postName}}</p>
          <p class="colors red weui-media-box__price">{{interview?.salaryrange.split('-')[0]}}k -
            {{interview?.salaryrange.split('-')[1]}}k</p>
        </div>
        <div class="weui-media-box__hd">
          <img class="avatar" src="/assets/images/avatars/1.jpg">
          <p class="name">{{interview?.managerName}}</p>
        </div>
      </div>
      <div class="weui-media-box weui-media-box_small-appmsg">
        <div class="weui-cells">
          <div class="weui-cell">
            <div class="weui-cell__hd"><i class="icons icons-clock"></i></div>
            <div class="weui-cell__bd">{{interview?.interviewtime}}</div>
          </div>
          <div class="weui-cell">
            <div class="weui-cell__hd"><i class="icons icons-address"></i></div>
            <div class="weui-cell__bd">{{interview?.address}}</div>
          </div>
        </div>
      </div>
      <div class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title">面试评价 <span class="right">{{interview?.interviewstate === '2' ? '已评价' : '待面试结束后可评价'}}</span></h4>
          <div *ngIf="evaluateForm.get('tags').value" class="label-container">
            <span *ngFor="let item of evaluateForm.get('tags').value.split(',')" class="ui-label">{{item}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="weui-footer weui-footer_fixed-bottom">
  <div class="icons-group weui-flex">
    <div [routerLink]="['/employee/find/job/item',interview?.postId]" class="weui-flex__item">
      <div class="weui-grid__icon">
        <i class="icons icons-position"></i>
      </div>
      <p class="weui-grid__label">职位</p>
    </div>
    <div class="weui-flex__item">
      <div class="weui-grid__icon">
        <i class="icons icons-message"></i>
      </div>
      <p class="weui-grid__label">留言</p>
    </div>
    <div class="weui-flex__item">
      <div class="weui-grid__icon">
        <i class="icons icons-call"></i>
      </div>
      <p class="weui-grid__label">打电话</p>
    </div>
  </div>
</div>

<app-overlay [autoHeight]="true">
  <div class="overlay-content">
    <div class="weui-panel">
      <div class="weui-panel__hd">
        <h3 class="title">TA是否通过了面试？</h3>
      </div>
      <div class="weui-panel__bd">
        <div class="weui-media-box">
          <div class="icons weui-flex">
            <div (click)="setState('pass')" [ngClass]="{'curr' : state === 'pass'}" class="weui-flex__item">
              <div class="weui-grid__icon">
                <i class="icons icons-pass"></i>
              </div>
              <p class="weui-grid__label">通过</p>
            </div>
            <div (click)="setState('reject')" [ngClass]="{'curr' : state === 'reject'}" class="weui-flex__item">
              <div class="weui-grid__icon">
                <i class="icons icons-reject"></i>
              </div>
              <p class="weui-grid__label">不通过</p>
            </div>
            <div (click)="setState('undetermined')" [ngClass]="{'curr' : state === 'undetermined'}"
                 class="weui-flex__item">
              <div class="weui-grid__icon">
                <i class="icons icons-undetermined"></i>
              </div>
              <p class="weui-grid__label">待定</p>
            </div>
            <div (click)="setState('forgot')" [ngClass]="{'curr' : state === 'forgot'}" class="weui-flex__item">
              <div class="weui-grid__icon">
                <i class="icons icons-error"></i>
              </div>
              <p class="weui-grid__label">没有来</p>
            </div>
          </div>
        </div>
        <div *ngIf="labels.length > 0" class="weui-media-box">
          <div class="label-container">
            <span (click)="setLabels(item)" *ngFor="let item of labels" class="ui-label"
                  [ngClass]="{'colors blue bg':evaluateForm.get('tags').value.indexOf(item.label) !== -1}">{{item.label}}</span>
          </div>
        </div>
        <div class="weui-media-box weui-media-box_small-appmsg">
          <div class="weui-cell">
            <div class="weui-cell__bd">
              <textarea disabled class="weui-textarea" placeholder="请输入文本" rows="3"></textarea>
              <div class="weui-textarea-counter"><span>0</span>/200</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="btns-group">
      <a (click)="evaluate()" class="btn-twitter">提交</a>
    </div>
  </div>
</app-overlay>
