<div class="types-nav">
  <swiper *ngIf="types.length > 0" [config]="config" fxFlex="auto">
    <span class="item-box swiper-slide" [ngClass]="{'selected':type === 'home'}" (click)="setType('home')">首页</span>
    <span class="item-box swiper-slide" *ngFor="let item of types" [ngClass]="{'selected':type === item.id}" (click)="setType(item.id)">{{item.name}}</span>
    <span class="item-box swiper-slide" [ngClass]="{'selected':type === 'about'}" (click)="setType('about')">关于我们</span>
  </swiper>
</div>
<div class="content-scrollable" #container>
  <div id="panel_home" class="banner">
    <div class="img-box">
      <img src="/assets/images/banner/index/1.png">
    </div>
  </div>
  <div class="promise">
    <div class="weui-flex">
      <div class="days weui-flex__item">
        <i class="icons icons-7days"></i><span>7天无忧退</span>
      </div>
      <div class="shipping weui-flex__item">
        <i class="icons icons-return"></i><span>全平台包邮货到付款</span>
      </div>
      <div class="brands weui-flex__item">
        <i class="icons icons-good"></i><span>大牌制造商直供</span>
      </div>
    </div>
  </div>

  <div class="weui-panel">
    <div class="weui-panel__hd"><span>精选好货</span></div>
    <div class="weui-panel__bd">
      <div class="weui-media-box">
        <div class="recommends-items">
          <swiper *ngIf="types.length > 0" [config]="config" fxFlex="auto">
            <div style="width: 40%" *ngFor="let item of recommends;let i = index" class="item-box weui-grid__box swiper-slide">
              <div [routerLink]="['/front/item',item.productId]" class="weui-grid__icon">
                <div class="img-box">
                  <img src="{{item.mainImageUrl}}" alt="">
                </div>
              </div>
              <p class="weui-grid__label">{{item.productName}}</p>
              <p class="weui-grid__desc">{{item.shoppingGuide}}</p>
              <p class="weui-grid__labels"><span class="label">{{item.preContract}}</span></p>
              <p class="weui-grid__price"><em>￥{{item.salesPrice}}</em></p>
            </div>
          </swiper>
        </div>
      </div>
    </div>
  </div>

  <div *ngFor="let type of types" id="panel_{{type.id}}" class="weui-panel">
    <div class="weui-panel__hd"><span>{{type.name}}</span></div>
    <div class="weui-panel__bd">
      <div class="weui-media-box">
        <div class="items">
          <div class="weui-grids">
            <div *ngFor="let item of type.prods;let i = index" class="weui-grid" [ngClass]="{'lbd':i % 2 === 0}">
              <div class="weui-grid__box">
                <div [routerLink]="['/front/item',item.productId]" class="weui-grid__icon">
                  <div class="img-box">
                    <img src="{{item.filePath + item.fileName + '_small' + item.extName}}" alt="">
                  </div>
                </div>
                <p class="weui-grid__label">{{item.productName}}</p>
                <p class="weui-grid__desc">{{item.shoppingGuide}}</p>
                <p class="weui-grid__labels"><span class="label">{{item.preContract}}</span></p>
                <p class="weui-grid__price"><em>￥{{item.salesPrice}}</em></p>
              </div>
            </div>
            <div class="weui-grid">
              <div [routerLink]="['/front/list/',type.id]" class="weui-grid__box">
                <div class="weui-grid__box-center">
                  <div class="weui-grid__icon">
                    <i class="icons icons-arrow_right_fill"></i>
                  </div>
                  <p class="weui-grid__label">更多{{type.name}}...</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="types" id="panel_about" class="about-us">
    <div class="about-title">
      关于金山优选
    </div>
    <div class="about-content">
      <p>金山优选秉承一贯的严谨态度，对商品的供应商、源材料、工艺都严格把关，通过先验货，后付款的方式，为您的生活甄选最具性价比的高品质的商品，您可以放心选购。</p>
    </div>
  </div>
</div>

